---
const { title, description, icons, image } = Astro.props;
---

<div class="hero hero-main mb-3" data-bs-theme="dark">
  <div class="hero-back">
    <div class="hero-filter">
      <div class="py-5 container d-grid d-xl-flex gap-3 gap-xl-0 align-items-xl-stretch">
        <div class="col-xl">
          <div class="h-100 pe-xl-5">
            <div class="text-center">
              <h1 class="display-5 fw-bolder text-white">{title}</h1>
              {description && (
                <Fragment set:html={description} />      
              )}       
            </div>
            {icons && (
              <div class="text-center tab-link">
                <div class="d-flex gap-sm-5 justify-content-evenly justify-content-sm-center">
                  {icons.map(({ href, text, icon }, index) => (
                    <a class="link-body-emphasis" href={href} aria-label={text} target="_blank" rel="noopener noreferrer" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title={text}>
                      <i class={`fs-1 ${icon}`}></i>
                    </a>
                  ))}
                </div>
              </div>
            )}
          </div>
        </div>
        <div class="col-xl-auto rounded-3 justify-content-center justify-content-xl-start">
          {image && (
            image.map(({ src, alt }, index) => (
              <img src={`/media/images/${src}`} alt={alt} class="img-fluid rounded-3 d-block mt-3 mt-md-0 mx-auto" style="max-height:450px;">
            ))
          )}
        </div>
      </div>
    </div>
  </div>
</div>